html {
	box-sizing: border-box;
	font-size: 62.5%;
	position: relative;
	overflow-x: hidden;
	margin: 0;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	line-height: 1.6;

	position: absolute;
	top: 0;
	right: 0;
	width: 100%;

	min-height: 100vh;
	font-size: 1.6rem;
	font-family: Lato, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif !important;
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}
